body{
    font-family: Arial, sans-serif;
    padding: 20px;
}
.demoRow{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.box{
    width: 260px;
   min-height: 100px;
    display: grid;
    place-items: center;
    border: 2px solid #333;

}
.box:hover{
    background: orange;
    
}

.smooth{
    transition: background-color 800ms;
}

.btn{
    margin: 12px 0;
    padding: 10px 18px;
    background: #333;
    color: white;
    border: 2px solid #333;
    cursor: pointer;
    transition: transform 200ms;
}

.btn:active{
    transform: scale(1.95);

}

.form{
    display: grid;
    margin-top: 16px;
    gap: 14px;
    max-width: 380px;
}

.form input{
    padding: 10px 14px;
    border: 2px solid #333;
    font-size: 16px;
    transition: border-color 300ms;
}
.pwd{
    padding: 10px 12px;
    border-color: #333;
    border-radius: 10px; outline: none;
    transition: border-color 250ms, transform 250ms;
}

.pwd:focus{
    border-color: black;
    transform: scale(1.02);
}
.pwd:valid{
    border-color: green;
}   
.pwd:invalid{
    border-color: red;
}

.wobblecontrol{
    display: inline-block;
    padding: 10px 18px;
   
    cursor: pointer;
    transition: transform 200ms;
}

@keyframes wobble{
    0%{
        transform: rotate(-10deg);
    }
   
    
    100%{
        transform: rotate(10);
    }

}

#wobbleToggle:checked ~ .btn.wobblebtn{
    animation: wobble 300ms alternate infinite ease-in-out;
}
.box{
    animation-name: wobble;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.tracks{
    display: grid;
    gap: 12px;
    margin-top: 16px;
    max-width: 760px;
}

.tracktitle{
    margin-bottom: 6px;
    font-weight: 700;
}

.bars{
    display: grid;
    grid-auto-flow: column;      
    grid-auto-columns: 20px;    
    gap: 8px;
    align-items: end;           
    height: 70px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
}

.bar{
    height: 15px;               
    background: steelblue;
    border-radius: 10px;
    transform-origin: bottom;    
    animation: shrink 500ms infinite alternate;



/*animation itself*/
animation-name: shrink;
animation-duration: 700ms;
animation-iteration-count: infinite;
animation-direction: alternate;

}


/* FIXED KEYFRAMES */
@keyframes shrink{
    0%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(4);
    }
}

/* Timing variations */
.timing-linear .bar{
    animation-timing-function: linear;
}

.timing-ease-in-out .bar{
    animation-timing-function: ease-in-out;
}   

.timing-ease-in .bar{
    animation-timing-function: ease-in;
}

.timing-ease-out .bar{
    animation-timing-function: ease-out;
}

#demo-1 {
    grid-column: span 2;
    display: grid;
    border: #333 solid 2px;
    gap: 1rem;
    grid-template-columns: 50px 100px 200px 250px 250px 200px 100px 50px;
    place-content: center;
    > canvas {
        width: 100%;
        border: 2px solid #333 ;
    }
}



