.btn {
  padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
.hightlight {
  background-color: yellow;
}


.navlink {
  display: inline-flex;
    align-items: center;
    padding: 10px 14px;
    text-decoration: none;
    border: 1px solid #ccc;
} 


.icon {
  width: 70px;
    height: 70px;
    background-image: url(image/img.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: aqua;
}
.navlink:hover .icon {
  background-image: url(image/img5.jpg);
}